.form-page {
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: rgb(189, 189, 186);
  .form-wrapper {
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      h1 {
        color: rgb(244, 116, 5);
        font-weight: 500;
        font-size: 2.5rem;
      }
    }
  }
}
